@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: -webkit-fill-available;
    touch-action: pan-y;
}

body{
    height: -webkit-fill-available;
}

h1, h2, h3, span{
    color: whitesmoke;
    text-align: center;
    line-height: 1.25;
}

h1{
    font-size: 36px;
}

p{
    line-height: 1.5;
    font-size: 16px;
    color: whitesmoke;
}

.text--red{
    color: rgb(210, 25, 25);
}

a{
    text-decoration: none;
    position: relative;
    color: whitesmoke;
}

li{
    list-style: none;
}

.flex{
    display: flex;
}

.flex-1{
    flex: 1;
    margin-top: 12px;
    padding-bottom: 8px;
}

.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* NAVIGATION BAR */

nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list{
    display: flex;
}

.nav__link--anchor{
    margin: 0 12px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary{
    background-color: #ce0909;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover{
    background-color: #5d3eff;
}

.personal__logo1{
    font-size: 24px;
    color: whitesmoke;
    margin: 0 12px;
    font-weight: 700;
    width: 90px;
    height: 81px;
    overflow: hidden;
    margin-bottom: 16px;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: #242424;
    display: none;
    padding-right: 18px;
  }
  
  .menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    transform: translate(100%);
  }
  
  .menu--open {
    max-height: 100vh;
    overflow: hidden;
  }
  
  .menu--open .menu__backdrop {
    visibility: visible !important;
    opacity: 1;
    transform: translate(0);
  }
  
  .menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu__list {
    padding: 32px 0;
  }
  
  .menu__link {
    color: white;
    font-size: 40px;
  }
  
  .btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
  }

  .background{
    background-color: #222;
  }
  

/* ABOUT ME */

#about-me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.about-me__info--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask{
    width: 90px;
    height: 81px;
    overflow: hidden;
}

.logo__name{
    font-size: 24px;
    color: rgb(216, 42, 42);
}

.about-me__picture{
    width: 90%;
    transform: scale(1.5);
    padding: 14px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    margin-bottom: 28px;
    
    border-radius: 50%;
}

.about-me__info--title{
    margin-bottom: 16px;
}
.about-me__info--para{
    font-size: 20px;
    margin-bottom: 30px;
}

.about-me__link{
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__links{
    margin-top: 30px;
}

.about-me__img--container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me__vid{
    margin-top: 22px;
    margin-bottom: 18px;
    width: 60%;
}


#surgerys{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #222;
}

.surgerys__title{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

.photo__edit{
    width: 500px;
    height: 500px;
}

.container{
    height: 90vh;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper{
    width: 100%;
    height: fit-content;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    width: 50%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: white;
}

.swiper .swiper-pagination-bullet-active{
    background: #fff;
}


#testimonial{
    background-color: rgb(193, 190, 190);
}

.testimonials{
    padding: 40px 0;
    background: #222;
    color: #434343;
    text-align: center;
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border{
    width: 160px;
    height: 5px;
    background: #6ab046;
    margin: 26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial{
    background: #fff;
    padding: 30px;
}

.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars{
    color: #6ab04c;
    margin-bottom: 20px;
}

.black__text{
    color: #222;
}



footer{
    background-color: #000000;
}
.footer_social--list{
    margin-bottom: 28px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}
.footer_row{
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personal__logo{
    width: 70px;
    height: 70px;
}
.footer_social--link, 
.footer_logo--popper{
    color: whitesmoke;
}
.footer_logo--popper{
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}
.footer_anchor{
    margin-bottom: 20px;
    position: relative;
}
.footer_anchor:hover .footer_logo--popper{
    transform: translateX(60px);
    opacity: 1;
}


@media screen and (max-width:390px){
    .about-me__picture--mask{
        margin-left: 12px;
    }
    .about-me__picture{
        margin-bottom: 0;
        margin-top: 12px;
        height: 70px;
        width: 80px;
    }
    .col{
        flex: 100%;
        max-width: 80%;
    }
    .about-me__info.row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .swiper-slide img{
        width: 80%;
    }
    .about-me__img--container{
        width: 390px;
        height: 640px;
    }
   
}
@media screen and (max-width:420px){
    .about-me__picture--mask{
        margin-left: 12px;
    }
    .about-me__picture{
        margin-bottom: 0;
        margin-top: 12px;
        height: 70px;
        width: 80px;
    }
    .col{
        flex: 100%;
        max-width: 80%;
    }
    .about-me__info.row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .swiper-slide img{
        width: 80%;
    }
    .about-me__img--container{
        width: 390px;
        height: 640px;
    }
}
@media screen and (max-width:548px){
    .about-me__picture--mask{
        margin-left: 12px;
    }
    .about-me__picture{
        margin-bottom: 0;
        margin-top: 12px;
        height: 70px;
        width: 80px;
    }
    .col{
        flex: 100%;
        max-width: 80%;
    }
    .about-me__info.row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .swiper-slide img{
        width: 80%;
    }
    .about-me__img--container{
        width: 390px;
        height: 640px;
    }
}

@media (max-width:768px){
    nav{
        height: 68px;
    }
    h1{
        font-size: 28px;
    }
    .about-me-info--para{
        font-size:18px;
    }
    .modal{
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }
}

@media only screen and (min-width:600px){
    .col{
        flex: 100%;
        max-width: 100%;
    }
    .about-me__info--para{
        padding: 0 18px;
    }
}

@media (max-width:480px){
    .about-me__picture--mask{
        margin-left: 12px;
    }
    .about-me__picture{
        margin-bottom: 0;
        margin-top: 12px;
        height: 70px;
        width: 80px;
    }
    .col{
        flex: 100%;
        max-width: 80%;
    }
    .about-me__info.row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .swiper-slide img{
        width: 80%;
    }
    .about-me__img--container{
        width: 390px;
        height: 640px;
    }
}

@media (max-width:585px){
    .btn__menu {
        display: block;
        color: white;
      }
    
      .nav__link--list {
        display: none;
      }
      .about-me-info--para{
        font-size: 16px;
      }
      .about-me__img--container{
        width: 390px;
        height: 640px;
    }
}

@media (max-width: 550px) {
    .btn__menu {
      display: block;
    }
  
    .nav__link--list {
      display: none;
    }
}


